@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive; /* */
}

body {
    background-repeat: no-repeat;
    background-image: linear-gradient( 45deg, rgb(20, 20, 20), #1f165f);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh
}

.title h2{
    margin-bottom: 40px;
    color: white;
    font-size: 30px;
    text-shadow: -1px -1px 0px black, -4px -4px 0px black;
}

form {
    max-width: 800px;
    color: white;
    text-shadow: -4px 0px 4px black, -4px 0px 0px black;
}

main{
    border: solid black;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2177;
    margin: auto;
    padding: 60px;
    box-shadow: -8px 14px 12px 1px black;
    margin: 50px;
}

input{
    margin-bottom: 22px;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
}

input:focus {
    outline: 2.5px solid black;
}

label{
    color: white;
    margin: 10px;
    text-shadow: 1px 0px 4px black, -3px -1px 0px black;
}

button{
    padding: 5px;
    margin: 15px;
    background-color: #4CAF50;
    text-shadow: 1px 0px 4px black, -3px -1px 0px black;
    cursor: pointer;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    color: white;
    transition: transform 200ms ease-in-out;
}

.delete-button{
    background-color: red;
}

button:hover{
    transform: scale(1.05); /* espaço do botão na tela */
}

.modal{
    display: none;
}

div button{
    padding: 5px;
    margin: 15px;
    background-color: #4CAF50;
    text-shadow: 1px 0px 4px black, -3px -1px 0px black;
    cursor: pointer;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    color: white;
    transition: transform 200ms ease-in-out;
}

th{
    font-size: 20px;
    padding: 5px;
    color: white;
    text-shadow: 1px 0px 4px black, -3px -1px 0px black;
}

td{
    font-size: 11px;
    text-align: center;
    width: 10%;
    color: white;
    text-shadow: 1px 0px 4px black, -3px -1px 0px black;
}

td button{
    width: 50%;
}

div h2{
    margin-top: 40px;
    padding: 20px;
    color: white;
    font-size: 30px;
    text-shadow: -1px -1px 0px black, -4px -4px 0px black;
    text-align: center;
}

::-webkit-scrollbar{ /* scroll da tela*/
    width: 10px;
    background-color: #1f165f;
}

::-webkit-scrollbar-thumb{ /* barra do scroll da tela*/
    background-color: #100d2d;
}