@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive; /* */
}

body {
    background-repeat: no-repeat;
    background-image: linear-gradient( 45deg, rgb(20, 20, 20), #1f165f);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh
}

.title h2{
    margin-bottom: 40px;
    color: white;
    font-size: 30px;
    text-shadow: -1px -1px 0px black, -4px -4px 0px black;
}


form {
    max-width: 800px;
    color: white;
    text-shadow: -4px 0px 4px black, -4px 0px 0px black;
}

input{
    margin-bottom: 22px;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
}

input:focus {
    outline: 2.5px solid black;
}

button {
    background-color: #4CAF50;
    color: white !important;
    text-shadow: 1px 0px 4px black, -3px -1px 0px black;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid black;
    transition: transform 200ms ease-in-out;
}

.button a {
    text-decoration: none;
    color: white; /* Cor desejada para o texto do link */
}

button:hover{
    transform: scale(1.05); /* espaço do botão na tela */
}

main{
    border: solid black;
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2177;
    margin: auto;
    padding: 60px;
    box-shadow: -8px 14px 12px 1px black;
}

@media screen and (max-width: 737px) {
    .title h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 643px) {
    .title h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 549px) {
    .title h2{
        font-size: 15px;
    }

    input{
        height: 35px;
    }

    label{
        font-size: small;
    }

    button{
        height: 50px;
        font-size: 10px;
    }
}

@media screen and (max-width: 543px) {
    .usersList h2{
        font-size: 12px;
    }
}

@media screen and (max-width: 471px) {
    .usersList h2{
        font-size: 10px;
    }
}

@media screen and (max-width: 457px) {
    .title h2{
        font-size: 12px;
    }
}

@media screen and (max-width: 421px) {
    .usersList h2{
        font-size: 8px;
    }

    input{
        height: 30px;
    }

    label{
        font-size: 9px;
    }

}

@media screen and (max-width: 401px){
    .title h2{
        font-size: 10px;
    }
}

@media screen and (max-width: 371px){
    .usersList h2{
        font-size: 6px;
    }

    button{
        height: 25px;
        font-size: 7.5px;
    }
}

@media screen and (max-width: 365px){
    .title h2{
        font-size: 9.7px;
    }

    input{
        height: 27px;
        margin-bottom: 18px;
    }

    main{
        padding: 40px;
    }
}

@media screen and (max-width: 357px){
    .title h2{
        font-size: 9.5px;
    }
}

@media screen and (max-width: 357px){
    .title h2{
        font-size: 9px;
    }

    input{
        height: 25px;
        margin-bottom: 15px;
    }

    main{
        padding: 30px;
    }
}



 